#header-container {
    background-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
}
#header-menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.linkTo {
    text-decoration: none;
}

/* Mobile */
@media (max-width: 767px) {
    #header-container {
      width: 100%;
    }
}
  
/* Tablet 세로 */
@media (min-width: 768px) and (max-width: 1023px) {
    #header-container {
        width: 100%;
    }
}
  
/* Tablet 가로 */
@media (min-width: 1024px) and (max-width: 1440px) {
    #header-container {
        width: 100%;
    }
}